<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>OpenEMR {{ version }} Released</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <div style="margin:0px auto;max-width:600px;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f4f4f4;" align="center">
        <tr>
            <td align="center" style="padding: 20px 0;">
                 <!-- Header Image -->
                <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: #00509d; border-radius: 3px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);">
                    <tr>
                        <td align="center" width="600" style="padding: 25px;" >
                            <img src="https://www.open-emr.org/images/openemr_email_logo.png" alt="OpenEMR logo" width="600" height="auto" style="display: block; width: 100%; max-width: 600px; height: auto; border-radius: 8px 8px 0 0;">
                        </td>
                    </tr>
              
                </table>
                    
                    <!-- Content -->
                     <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff;">
                    <tr>
                        <td style="padding: 20px 40px 20px 40px;">
                                           
                            <p style="color: #333333; font-size: 20px; line-height: 1.5; margin: 0 0 16px 0;"><b>OpenEMR {{ version }} Released!</b></p>
                            
                            
                            <p style="color: #333333; font-size: 16px; line-height: 1.5; margin: 0 0 16px 0;">The <a href="https://www.open-emr.org" style="color: #2d9bd6" target="_blank">OpenEMR</a> community released version {{ version }}. OpenEMR {{ version }} includes <a href="{{ release_notes_url }}" style="color: #2d9bd6" target="_blank">new features, improvements, and fixes</a>.</p>
                             <p style="color: #333333; font-size: 16px; line-height: 1.5; margin: 0 0 16px 0;">Download OpenEMR {{ version }} from <a href="https://www.open-emr.org/downloads/" style="color: #2d9bd6" target="_blank">open-emr.org/downloads</a>, where you'll find details on how to install, upgrade and patch your server. For upgrades or installation help, please view our <a href="https://www.open-emr.org/wiki/index.php/Professional_Support" style="color: #2d9bd6" target="_blank">professional support vendors</a> or connect with peers on the <a href="{{ forum_url }}" style="color: #2d9bd6" target="_blank">OpenEMR Forum</a>.</p>
<p style="color: #333333; font-size: 16px; line-height: 1.5; margin: 0 0 32px 0;">Thank you to the <a href="https://www.open-emr.org/wiki/index.php/OpenEMR_Acknowledgments" style="color: #2d9bd6" target="_blank">OpenEMR community</a> for producing this release.</p>
<p style="color: #333333; font-size: 16px; line-height: 1.5; margin: 0 0 0 0;"><strong>Support OpenEMR</strong></p>
<p style="color: #333333; font-size: 16px; line-height: 1.5; margin: 0 0 16px 0;">OpenEMR depends on volunteers and donations to stay open and free. Contributions fund core software, security, documentation, forums, and education. Flexible platforms and contribution levels make it easy to give once or become a Sponsor with monthly donations. <strong>If you depend on OpenEMR for your practice or support its mission, <a href="https://www.open-emr.org/donate/" style="color: #2d9bd6" target="_blank">please donate today</a></strong>.
</p>
   
                        </td>
                    </tr>
                    
                   
                    
                    <!-- Footer -->
                    <tr>
                        <td style="padding: 20px 40px; background-color: #f9f9f9; border-top: 1px solid #e0e0e0; border-radius: 0 0 8px 8px;">
                            
                            <p style="color: #666666; font-size: 12px; line-height: 1.5; margin: 0; text-align: center;"><a href="mailto:hello@open-emr.org?subject=Unsubscribe" style="color: #2d9bd6; text-decoration: underline;">Unsubscribe</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr></table></div>
   
</body>
</html>
